<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <!-- Mobile Left: Hamburger + Logo Centered -->
        <div class="d-md-none d-flex align-items-center w-100 justify-content-between">
            <!-- Hamburger -->
            <button class="navbar-toggler bg-light border" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Center Logo -->
            <a class="navbar-brand mx-auto d-flex align-items-center" href="/listings">
                <i class="fa-regular fa-compass fs-3 text-danger"></i>
            </a>

            <!-- Search & User icons -->
            <div class="d-flex align-items-center">
                <!-- Search icon -->
                <button id="mobileSearchToggle" class="btn user_btn me-2" type="button">
                    <span class="user_icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                </button>


                <!-- User icon dropdown -->
                <div class="dropdown">
                    <button class="btn user_btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="user_icon"><i class="fa-solid fa-user"></i></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <% if (!currUser) { %>
                            <li><a class="dropdown-item" href="/SingUp">Sign Up</a></li>
                            <li><a class="dropdown-item" href="/login">Log In</a></li>
                            <% } %>
                                <% if (currUser) { %>
                                    <li><a class="dropdown-item" href="/profile/<%= currUser.id %>">Profile</a></li>
                                    <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                                    <% } %>
                                        <hr>
                                        <li><a class="dropdown-item" href="#">Help Center</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Desktop Logo -->
        <a class="navbar-brand d-none d-md-flex align-items-center" href="/listings">
            <i class="fa-regular fa-compass fs-3 text-danger"></i>
        </a>

        <!-- Collapse Content -->
        <div class="collapse navbar-collapse bg-light py-3 py-md-0" id="navbarContent">
            <!-- Links -->
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/listings">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/listings/new">Wandlust your home</a>
                </li>
            </ul>

            <!-- Search bar (only for md and above) -->
            <form action="/search" method="get" class="d-none d-md-flex mx-auto" style="flex: 1; max-width: 550px;">
                <div class="searchbar border w-100">
                    <input class="search_input" type="text" name="query" placeholder="Search...">
                    <button type="submit" class="search_icon"><i class="fa-solid fa-magnifying-glass"></i> </button>
                </div>
            </form>

            <!-- User icon desktop -->
            <div class="dropdown d-none d-md-block ms-3">
                <button class="btn user_btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="user_icon"><i class="fa-solid fa-user"></i></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <% if (!currUser) { %>
                        <li><a class="dropdown-item" href="/SingUp">Sign Up</a></li>
                        <li><a class="dropdown-item" href="/login">Log In</a></li>
                        <% } %>
                            <% if (currUser) { %>
                                <li><a class="dropdown-item" href="/profile/<%= currUser.id %>">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                                <% } %>
                                    <hr>
                                    <li><a class="dropdown-item" href="#">Help Center</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Mobile search bar (toggle) -->
<div id="mobileSearchBar" class="d-md-none px-3 py-2 bg-light border-bottom" style="display: none;">
    <form action="/search" method="get" class="d-flex">
        <input class="form-control me-2" type="text" name="query" placeholder="Search...">
        <button class="btn btn-danger" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

<script>
    document.getElementById('mobileSearchToggle').addEventListener('click', function () {
        const searchBar = document.getElementById('mobileSearchBar');
        if (searchBar.style.display === 'none' || searchBar.style.display === '') {
            searchBar.style.display = 'block';
        } else {
            searchBar.style.display = 'none';
        }
    });

</script>